*~
*.elc
/.smex-items
/ac-comphist.dat
/backup/*
/el-get-init-files/**/.*
/el-get/*
tramp
eshell/histroy
eshell/lastdir
tmp/*
history
.mc-lists.el
/url
/el-get-init-files/init-evernote-mode.el
/twittering-mode.gpg
/ddskk-settings.el
/projectile-bookmarks.eld
/projectile.cache
log/*
/undohist
.python-environments